name: Build Wheels

on:
  workflow_run:
    workflow: [test]
    branches: 
      - main
    types:
      - completed

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      CIBW_SKIP: "*-win32 *-manylinux_i686 *musllinux* pp*"
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022, macOS-13, macOS-14]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.5
        # to supply options, put them in 'env', like:
        env:
         CIBW_SKIP: "*-win32 *-manylinux_i686 *musllinux* pp*"
         CIBW_TEST_REQURES: pytest, numpy==1.20.1
         CIBW_BEFORE_TEST: python -m pip install pytest
         CIBW_TEST_COMMAND: python -m pytest {package}/tests

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
